body {
  padding: 20px ;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: rgb(8, 7, 7);
  background: #868379;
}

header {
  padding: 10px 10px;
  background-color: #17191a;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.padding {
  background-color: #868379;
  padding: inherit;
  padding: 10px 20px 10px;
  color:#222121
}
header nav ul { 
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style:none;

}
header nav {
  float: right;
  margin: 7px 0;
  
}
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  color:ivory
}
h2 {
  font-size: 24px;
}

.hero {
  background-image: url(./images/seamless-bg.gif);
  height:200px;
  text-align:right;
  color:rgb(1, 0, 3)
}
.subtitle {
  position: absolute;
  right: 30px;
  top: 252px;
  background-color: #868379;
  color:#222121
  
}

.section-titleprimary-border {
  line-height: 1.0;
    color: #222121;
    Width: 20%;
    font-size: 60px;
    margin-top: 0;
    margin-right: 5px;
    float:left;
    border-right: 3px solid;
    text-align: right;
    }
   
    .dad {
      display: flex;
    flex-direction: column;
    }
    .flex-container {
      display:flex;
      flex-wrap:wrap;
      justify-content: space-between;
      
    }
    /* flex child */
    .flex-item1 {
      /* makes each one 45%, putting 10% between each element on the page */
      width: 80%;
      /* rounded corners */
      border-radius: 14px;
      border: 4px solid #332f30;
      background-color: #050505;
      font-size: 22px;
      font-weight: bold;
      /* puts space between each one vertically */
      margin-bottom: 15px;
      /* for files in local images folder, use url('../images/file-name.jpg') */
     
      /* tells background to fit box no matter what */
      background-size: cover;
      /* crops it at the center */
      background-position: center;
      /* padding top and bottom 20px, 0 for left/right */
      padding: 20px 0;
      /* sets minimum height value so there's room */
      min-height: 250px;
    display: flex;
    flex-direction: column-reverse;
    }
    
    /* for text area inside of flex item */
    .flex-item1 span {
    
    width: 100px;
    background-color: rgb(122, 118, 118);
    padding: 10px 5px;
    text-align:center;
    }

    
    /* flex child */
    .flex-item {
      /* makes each one 45%, putting 10% between each element on the page */
      width: 45%;
      /* rounded corners */
      border-radius: 14px;
      border: 4px solid #332f30;
      background-color: #050505;
      font-size: 22px;
      font-weight: bold;
      /* puts space between each one vertically */
      margin-bottom: 15px;
      /* for files in local images folder, use url('../images/file-name.jpg') */
     
      /* tells background to fit box no matter what */
      background-size: cover;
      /* crops it at the center */
      background-position: center;
      /* padding top and bottom 20px, 0 for left/right */
      padding: 20px 0;
      /* sets minimum height value so there's room */
      min-height: 250px;
    display: flex;
    flex-direction: column-reverse;
    }
    
    /* for text area inside of flex item */
    .flex-item span {
    
    width: 100px;
    background-color: rgb(122, 118, 118);
    padding: 10px 5px;
    text-align:center;
    }


.ContactMe ul {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style:none;

}